{% extends "index.html" %}

{% block content %}
<div class="container mt-3">
    <h2 class="text-center">Your current categories</h2>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">{{ category.name }}</li>
        {% endfor %}
    </ul>
</div>

<div class="container mt-3">
    <div class="container text-center">
        <h2>Add New Category</h2>
    </div>
    <form method="POST" action="{{ url_for('add_category') }}">
        {{ category_form.csrf_token }}
        <div class="mb-3">
            {{ category_form.name.label(class="form-label") }}
            {% if category_form.errors.name %}
                {{ category_form.name(size=20, class="form-control is-invalid") }}
            {% else %}
                {{ category_form.name(size=20, class="form-control") }}
            {% endif %}
             <div class="invalid-feedback">{{ category_form.errors.name|join(' ') }}</div>
        </div>
        <div class="mb-3">
            {{ category_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}