{% extends "index.html" %}

{% block content %}
<div class="container mt-3">
    <div class="container text-center">
        <h2>Add New Task</h2>
    </div>
    <form method="POST" action="{{ url_for('update_task', task_id=task_id) }}">
        {{ task_form.csrf_token }}
        <div class="mb-3">
            {{ task_form.description.label(class="form-label") }}
            {{ task_form.description(size=20, class="form-control") }}
        </div>
        <div class="mb-3">
            {{ task_form.category.label(class="form-label") }}
            {{ task_form.category(class="form-select") }}

        </div>
        <div class="mb-3">
            {{ task_form.submit(class="btn btn-primary", value="Update Task") }}
        </div>
    </form>
</div>
{% endblock %}