{% extends "index.html" %}

{% block content %}

{% if current_user.is_authenticated %}

<!-- To Do list-->
<div class="container justify-content-center bg-light bg-gradient">
    <div class="row">
        <div class="text-center">
            <h1>Your To Do List</h1>
        </div>
    </div>
    <div class="row mt-3">
        {% for task in tasks %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body {% if task.is_completed %} bg-success {% endif %}">
                <h5 class="card-title">{{ task.category.name|title() }}</h5>
                <p class="card-text">{{ task.description }}</p>
                 {% if not task.is_completed %}
                <a href="{{ url_for('update_task', task_id=task.id) }}" class="btn btn-primary">Edit</a>
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger">Delete</a>
                <a href="{{ url_for('complete_task', task_id=task.id) }}" class="btn btn-success">Complete</a>
                 {% else %}
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger">Delete</a>
                <a href="{{ url_for('complete_task', task_id=task.id) }}" class="btn btn-warning">Not Complete</a>
                 {% endif %}
              </div>
                <div class="card-footer">
                 <small class="text-start">Created: {{ task.create_date }}</small><br>
                 <small class="text-end">Complete by: {% if task.deadline %}{{ task.deadline }} {%endif %} </small>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<!-- Task Form -->
<div class="container mt-3">
    <div class="container text-center">
        <h2>Add New Task</h2>
    </div>
    <form method="POST" action="{{ url_for('add_task') }}">
        {{ task_form.csrf_token }}
        <div class="mb-3">
            {{ task_form.description.label(class="form-label") }}
            {{ task_form.description(size=20, class="form-control") }}
        </div>
        <div class="mb-3">
            {{ task_form.deadline.label(class="form-label") }}
            {{ task_form.deadline(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ task_form.category.label(class="form-label") }}
            {{ task_form.category(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ task_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<!-- Category Form -->
<div class="container mt-3">
    <div class="container text-center">
        <h2>Add New Category</h2>
    </div>
    <form method="POST" action="{{ url_for('add_category') }}">
        {{ category_form.csrf_token }}
        <div class="mb-3">
            {{ category_form.name.label(class="form-label") }}
            {{ category_form.name(size=20, class="form-control") }}
        </div>
        <div class="mb-3">
            {{ category_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% else %}

<div class="container text-center">
    <p>Please log in to use the app.</p>
</div>

{% endif %}
{% endblock %}